@use 'base';

input {
  border-radius: 8px;
}

button {
  @include base.color-scheme;

  border-radius: 8px;
  padding: 5px;

  font-size: 20px;
  font-family: base.$font-stack;

  &:hover {
    opacity: 0.5;
  }
}

.grid {
  height: 400px;
  width: 400px;

  display: grid;
  grid-template-columns: repeat(10,1fr);

  background-color: base.$water-color;

  margin:50px;
}

.box {
  border: 1px solid black;
}

.miss {
  background-color: base.$miss-color;
}

.ship {
  background-color: base.$ship-color;
}

.hit {
  background-color: base.$hit-color;
}

.sunk {
  background-color: base.$sunk-color;
}
