@use 'base';

html {
  font-family: base.$font-stack ;
  font-size: 20px;
}

header {
  @include base.flex-center(column);
  @include base.layout-size(20%);
  @include base.color-scheme;

  font-size: 100px;

}

main {
  @include base.layout-size(75%);
  @include base.flex-center(row);
}

footer {
  @include base.flex-center(column);
  @include base.layout-size(5%);
  @include base.color-scheme;
}

.placement-interface {
  @include base.flex-center(column);

  &>* {
    margin: 10px;
  }
}